{
	email {$LETS_ENCRYPT_EMAIL}
	log {
		output stdout
		format console
		level {$LOG_LEVEL:INFO}
	}
}

http://{$DOMAIN_NAME} {
	redir https://{$DOMAIN_NAME}{uri} permanent
}

{$DOMAIN_NAME} {
	encode zstd gzip

	reverse_proxy 127.0.0.1:8080 {
		health_uri /ping
		health_interval 30s
		health_timeout 3s
	}
}
